.navbar {
  background-color: rgba(128, 128, 128, 0.253);
  flex-direction: column;
  position: sticky;
  z-index: 9;
  margin-right: 1180px;
}
.navIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navIcon:hover {
  opacity: 0.4;
}
.icon {
  margin: 20px;
}
.icon:hover {
  opacity: 0.2;
}
.tag {
  color: white;
  font-size: 10px;
}
